.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drawer-layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px; /* Limits the maximum width to 1140px */
    margin: 20px auto; /* Centers the content horizontally */
    padding-top: 100px; /* Add padding as needed */
}

.content {
    height: 100%;
    overflow-y: auto;
    text-align: initial;
    color: #242424;
}
.content > :first-child {
    margin-top: 1.25rem;
}
.content > * {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 1.25rem;
}