.container {
  padding: 2rem;
}

[data-position=left] .mdk-drawer__content {
  border-right: 1px solid #eee;
}

.mdk-drawer__inner {
  height: 100%;
  overflow-y: auto;
  text-align: initial;
}

.mdk-drawer__inner> :first-child {
  margin-top: 1.25rem;
}

.mdk-drawer__inner>* {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 1.25rem;
}